<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>
</head>

<body>

<h1>Welcome {{name}} 🎉</h1>
<h3>Role: {{role}}</h3>

<br>

<a href="/employees">Go to Employees Page</a>
<br><br>

<a href="/logout">Logout</a>

</body>
</html>
<a href="/attendance">Attendance</a><br><br>
<a href="/fuel">Fuel & Money Collection</a><br><br>
<a href="/lost">Lost & Found / Police Report</a><br><br>
<a href="/trips">Daily Bus Trip Entry</a><br><br>
<a href="/performance">Driver Performance Report</a><br><br>
<a href="/complaint">Stress / Complaint System</a><br><br>
<a href="/buses">Bus Management</a>





